@font-face {
    font-family: 'img-text';
    src: url("/assets/fonts/Prototype.ttf");
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: rgb(166, 59, 59);
}

header {
    border: 1px solid rgba(153,153,153,0.8) ;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: 'img-text';
    margin-left: -0.8px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    background-color:var(--primary-color);
    margin-top: 35px;
    box-shadow: -5px -5px 20px rgb(229, 224, 224), 5px 5px 20px rgb(229, 224, 224);
    }

header .wrapper .logo {
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
}

header .wrapper .logo img{
    width: 90px;
    height: 55px;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}
header .wrapper .logo img:hover{
    transform: scale(1.2);
}

header .wrapper nav ul {
    display: flex;
    gap: 50px;
}

header .wrapper ul li, .wrapper a {
    list-style-type: none;  
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
}
header .wrapper .b2b {
    margin-right: 50px;
}
header .wrapper .logo {
    margin-left: 50px;
}



.img-container {
    display: flex;
    background: linear-gradient(to top,rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.3), rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.5)),
    url("/assets/images/main\ photo.jpg");
    /* background-image: url("/assets/images/main\ photo.jpg"); */
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    height: 800px;
}
h3 {
    font-family: 'img-text';
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 50px;
    text-shadow: 5px 5px 10px rgb(60, 34, 34);
    margin: 10px 0px 5px 0px;
}



#categories .container {
    display: flex;
    border: 1px solid red;
    color: black;
    height: 600px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    align-content: space-evenly;
}
#categories .container div {
    /* border: 0px solid black; */
    height: 180px;
    width: 27%;
    box-shadow: 2px 0px 15px grey, -2px 0px 15px grey;
    border-radius: 15px;
    overflow: hidden;
}
#categories .container .ab {
    align-self: flex-end;
    height: 25px;
    width: 10%;
    text-align: center;
    margin-bottom: -10px;
    padding-top:3px;
    padding: 4px 0 5px 0;
    background-color: var(--primary-color);
    opacity: 0.9;
    border-radius: 20px;
    /* box-shadow: 10px 10px 10px rgb(166, 59, 59); */
    color: white;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}
#categories .container .abc {
    width: 100%;
} 
#categories .container img {
    border-radius: 15px;
    transition: 0.5s all ease-in-out;
}
#categories .container img:hover {
    transform: scale(1.2);    
}

.container .autoparts {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .autoparts img {
    height: 180px;
    width: 100%;
    position: relative;
}

.container .oils {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .oils img {
    height: 180px;
    width: 100%;
    position: relative;
}

.container .batteries {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .batteries img {
    height: 180px;
    width: 100%;
    position: relative;
}

.container .brakes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .brakes img {
    height: 180px;
    width: 100%;
    position: relative;
}

.container .filters {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .filters img {
    height: 180px;
    width: 100%;
    position: relative;
}

.container .tires {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .tires img {
    height: 180px;
    width: 100%;
    position: relative;
}

#aboutus .container {
    background-image: url('/assets/images/about-img.jpg');
    width: 100%;
    background-size: cover;
    height: 563px;
    background-repeat: no-repeat;
    /* background: linear-gradient(); */
}
#aboutus .container .about h3{
    color: white;
    font-family: "img-text";
    font-size: 20px;
}
#aboutus .container .about {
    padding-left: 100px;
    padding-top: 100px;
}




